<div class="service__page">
  <img
    class="img__surf__large"
    src="../../assets/img/surfer-ocean.jpg"
    alt=""
  />
  <div class="service__page__title">Service Page</div>
  <br />

  <div *ngIf="!isAuth" class="service__page__text">
    <a routerLink="/register">Register</a> <span>&#8594;</span
    ><a class="page__text__color" routerLink="/login">Login</a>
  </div>
</div>

<div class="homepage">
  <h1>Welcome to Our Surfing Lessons Website!</h1>
  <h1>Welcome to Our Surfing Lessons Website!</h1>
  <h1>Welcome to Our Surfing Lessons Website!</h1>

  <p>
    1.Get to know our platform for learning to surf and detailed description of
    each lesson.
  </p>

  <h2>Learn to Surf with Our Professional Instructors</h2>
  <p>
    2.Our team of experienced instructors will teach you all the techniques and
    secrets of the surfing sport.
  </p>

  <h2>Personalized Lessons for All Skill Levels</h2>
  <p>
    3.Whether you are a beginner or an advanced surfer, we offer lessons suitable
    for your experience.
  </p>

  <h2>Flexible Schedules and Annual Subscriptions</h2>
  <p>
    4.Choose lessons according to your possibilities - we offer flexible schedules
    and subscription plans.
  </p>

  <h2>Kids' Surfing Lessons for the Future Great Surfers</h2>
  <p>
    5.Your children can learn the basics of the surfing sport with our kids'
    lessons, led by experienced instructors.
  </p>

  <h2>Safety and Quality Come First</h2>
  <p>
    6.We care about your safety and provide quality surfing lessons with attention
    to every detail.
  </p>

  <h2>Book Your Spot Online</h2>
  <p>7.Book lessons quickly and easily online with our reservation platform.</p>

  <h2>Contact Us</h2>
  <p>
    8.If you have questions or need additional information, feel free to contact
    us. Our teams are here to help.
  </p>

  <h2>Join Our Community</h2>
  <p>
    9.Become part of our active community of surfers and enjoy our lessons,
    surfing vacations, and events.
  </p>
</div>

<div class="sport__logo">
  <img src="../../assets/img/extreme-surfing.webp" alt="Surfing" />
  <img src="../../assets/img/kide-surfing.webp" alt="Surfing" />
  <img src="../../assets/img/surfer.webp" alt="Surfing" />
  <img src="../../assets/img/surfing1.webp" alt="Surfing" />
  <img src="../../assets/img/surfing2.webp" alt="Surfing" />
</div>
